#address-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-section {
  display: flex;
  gap: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  width: fit-content;
  font-family: Tahoma, sans-serif;
  font-weight: 500;
}

.form-field label::after {
  content: ":";
}

.form-field input {
  max-width: 400px;
}

#cep-field {
  margin: 0 auto;
  max-width: 100%;
}

.font-tahoma {
  font-family: Tahoma, sans-serif;
}

.bold {
  font-weight: bold;
}
